<div id="nf-about">
    <div id="nf-about-pic"></div>
    <div id="nf-about-content">
        <span id="nf-version"></span>
        <p>
            Apache NiFi (incubating) is a framework to support highly scalable and flexible dataflows.
            It can be run on on laptops up through clusters of enterprise class servers.
            Instead of dictating a particular dataflow or behavior it empowers you to design your own
            optimal dataflow tailored to your specific environment.
        </p>
    </div>
</div>