<div id="connections-dialog">
    <div class="dialog-content">
        <div class="setting">
            <div class="setting-name">Selected component</div>
            <div class="setting-field">
                <div id="connections-context"></div>
            </div>
        </div>
        <div class="setting">
            <div id="connections-source" class="setting-name">Source</div>
            <div id="connections-destination" class="setting-name">Destination</div>
            <div class="clear"></div>
            <div class="setting-field">
                <div id="connections-container"></div>
            </div>
        </div>
    </div>
</div>