<div id="fill-color-dialog">
    <div class="dialog-content">
        <div class="setting">
            <div class="setting-name">Color</div>
            <div class="setting-field">
                <input type="text" id="fill-color-value" value="#FFFFFF"/>
            </div>
            <div class="setting-name" style="margin-top: 5px;">Preview</div>
            <div class="setting-field">
                <div id="fill-color-processor-preview">
                    <div id="fill-color-processor-preview-name">Processor</div>
                    <div id="fill-color-processor-preview-icon"></div>
                    <div class="clear"></div>
                    <div id="fill-color-processor-preview-stats">
                        <div id="fill-color-processor-preview-stats-label"></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="fill-color-label-preview">
                    <div id="fill-color-label-preview-value">Label</div>
                </div>
            </div>
        </div>
    </div>
</div>