<div id="canvas-navigation-page">
    <div id="breadcrumbs">
        <div id="cluster-indicator"></div>
        <div id="data-flow-title-viewport">
            <div id="breadcrumbs-left-border"></div>
            <div id="data-flow-title-container"></div>
            <div id="breadcrumbs-right-border"></div>
        </div>
        <div id="breadcrumbs-background"></div>
    </div>
    <div id="pan-and-zoom">
        <div id="graph-control-separator">&nbsp;</div>
        <table class="pan">
            <tr>
                <td id="pan-top-left"></td>
                <td id="pan-up-button" title="Pan Up" class="pan-up"></td>
                <td id="pan-top-right"></td>
            </tr>
            <tr>
                <td id="pan-left-button" title="Pan Left" class="pan-left"></td>
                <td id="pan-center"></td>
                <td id="pan-right-button" title="Pan Right" class="pan-right"></td>
            </tr>
            <tr>
                <td id="pan-bottom-left"></td>
                <td id="pan-down-button" title="Pan Down" class="pan-down"></td>
                <td id="pan-bottom-right"></td>
            </tr>
        </table>
        <div id="graph-control-separator">&nbsp;</div>
        <div id="zoom-in-button" title="Zoom In" class="zoom-in"></div>
        <div id="zoom-out-button" title="Zoom Out" class="zoom-out"></div>
        <div id="graph-control-separator">&nbsp;</div>
        <div id="zoom-fit-button" title="Fit" class="fit-image"></div>
        <div id="graph-control-separator">&nbsp;</div>
        <div id="zoom-actual-button" title="Actual Size" class="actual-size"></div>
    </div>
    <div id="birdseye-collapse" class="birdseye-expanded"></div>
    <div id="birdseye-container">
        <div id="birdseye"></div>
    </div>
</div>