<div id="new-template-dialog">
    <div class="dialog-content">
        <div class="setting">
            <div class="setting-name">Name</div>
            <div class="setting-field">
                <input id="new-template-name" class="new-template-field" type="text"/>
            </div>
        </div>
        <div class="setting">
            <div class="setting-name">Description</div>
            <div class="setting-field">
                <textarea cols="30" rows="8" id="new-template-description" class="new-template-field"></textarea>
            </div>
        </div>
    </div>
</div>