<div id="port-details">
    <div class="dialog-content">
        <div class="port-setting">
            <div class="setting-name">Port name</div>
            <div class="setting-field">
                <span id="read-only-port-name"></span>
            </div>
        </div>
        <div class="port-setting">
            <div class="setting-name">Id</div>
            <div class="setting-field">
                <span id="read-only-port-id"></span>
            </div>
        </div>
        <div class="port-setting">
            <div class="setting-name">Comments</div>
            <div class="setting-field">
                <div id="read-only-port-comments"></div>
            </div>
        </div>
    </div>
</div>