<div id="port-configuration">
    <div class="dialog-content">
        <div class="port-setting">
            <div class="setting-name">Port name</div>
            <div class="setting-field">
                <input type="text" id="port-name"/>
                <div class="port-enabled-container">
                    <div id="port-enabled" class="port-enabled nf-checkbox checkbox-unchecked"></div>
                    <span> Enabled</span>
                </div>
            </div>
        </div>
        <div class="port-setting">
            <div class="setting-name">
                Id
            </div>
            <div class="setting-field">
                <span id="port-id"></span>
            </div>
        </div>
        <div id="port-concurrent-task-container" class="port-setting">
            <div class="setting-name">
                Concurrent tasks
                <img class="setting-icon icon-info" src="images/iconInfo.png" alt="Info" title="The number of tasks that should be concurrently scheduled for this port."/>
            </div>
            <div class="setting-field">
                <input type="text" id="port-concurrent-tasks" class="port-field"></input>
            </div>
        </div>
        <div class="port-setting">
            <div class="setting-name">Comments</div>
            <div class="setting-field">
                <textarea cols="30" rows="4" id="port-comments" class="port-field"></textarea>
            </div>
        </div>
    </div>
</div>