<div id="process-group-details">
    <div class="dialog-content">
        <div class="process-group-setting">
            <div class="setting-name">Process group name</div>
            <div class="setting-field">
                <span id="read-only-process-group-name"></span>
            </div>
        </div>
        <div class="process-group-setting">
            <div class="setting-name">Comments</div>
            <div class="setting-field">
                <div id="read-only-process-group-comments"></div>
            </div>
        </div>
    </div>
</div>