<div id="remote-process-group-ports">
    <div class="dialog-content">
        <span id="remote-process-group-ports-id" class="hidden"></span>
        <div class="settings-left">
            <div class="setting">
                <div class="setting-name">Name</div>
                <div class="setting-field">
                    <span id="remote-process-group-ports-name"></span>
                </div>
            </div>
            <div class="remote-port-header">
                <div>Input ports</div>
            </div>
            <div id="remote-process-group-input-ports-container" class="remote-ports-container"></div>
        </div>
        <div class="spacer">&nbsp;</div>
        <div class="settings-right">
            <div class="setting">
                <div class="setting-name">URL</div>
                <div class="setting-field">
                    <span id="remote-process-group-ports-url"></span>
                </div>
            </div>
            <div class="remote-port-header">
                <div>Output ports</div>
            </div>
            <div id="remote-process-group-output-ports-container" class="remote-ports-container"></div>
        </div>
    </div>
</div>