<div id="remote-process-group-configuration">
    <div class="dialog-content">
        <span id="remote-process-group-configuration-id" class="hidden"></span>
        <div class="setting">
            <div class="setting-name">Name</div>
            <div class="setting-field">
                <span id="remote-process-group-id" class="hidden"></span>
                <span id="remote-process-group-name"></span>
            </div>
        </div>
        <div class="setting">
            <div class="setting-name">URL</div>
            <div class="setting-field">
                <span id="remote-process-group-url"></span>
            </div>
        </div>
        <div class="setting">
            <div class="setting-name">Communications timeout</div>
            <div class="setting-field">
                <input type="text" id="remote-process-group-timeout"/>
            </div>
        </div>
        <div class="setting">
            <div class="setting-name">
                Yield duration
                <img class="setting-icon icon-info" src="images/iconInfo.png" alt="Info" title="When communication with this remote process group fails, it will not be scheduled again until this amount of time elapses."/>
            </div>
            <div class="setting-field">
                <input type="text" id="remote-process-group-yield-duration"/>
            </div>
        </div>
    </div>
</div>