<div id="settings">
    <div id="settings-header-text">NiFi Settings</div>
    <div id="settings-container">
        <div id="general-settings">
            <div class="setting">
                <div class="setting-name">Data flow name</div>
                <div class="setting-field">
                    <input type="text" id="data-flow-title-field" name="data-flow-title" class="setting-input"/>
                    <span id="archive-flow-link" class="link">Back-up flow</span>
                    <img class="setting-icon icon-info" src="/static/images/iconInfo.png" alt="Info" title="Archives the flow configuration."/>
                </div>
            </div>
            <div class="setting">
                <div class="setting-name">Data flow comments</div>
                <div class="setting-field">
                    <textarea id="data-flow-comments-field" name="data-flow-comments" class="setting-input"></textarea>
                </div>
            </div>
            <div class="setting">
                <div class="setting-name">
                    Maximum timer driven thread count
                    <img class="setting-icon icon-info" src="/static/images/iconInfo.png" alt="Info" title="The maximum number of threads for timer driven processors available to the system."/>
                </div>
                <div class="setting-field">
                    <input type="text" id="maximum-timer-driven-thread-count-field" class="setting-input"/>
                </div>
            </div>
            <div class="setting">
                <div class="setting-name">
                    Maximum event driven thread count
                    <img class="setting-icon icon-info" src="/static/images/iconInfo.png" alt="Info" title="The maximum number of threads for event driven processors available to the system."/>
                </div>
                <div class="setting-field">
                    <input type="text" id="maximum-event-driven-thread-count-field" class="setting-input"/>
                </div>
            </div>
        </div>
        <div id="settings-buttons">
            <div id="settings-cancel" class="button">Cancel</div>
            <div id="settings-save" class="button">Apply</div>
        </div>
    </div>
</div>