<div id="status-history-dialog" class="dialog" draggable="true">
    <div id="status-history-details"></div>
    <div id="status-history-container">
        <div id="status-history-refresh-container">
            <div id="status-history-refresh-button" class="summary-refresh pointer" title="Refresh"></div>
            <div id="status-history-last-refreshed-container">
                Last updated:&nbsp;<span id="status-history-last-refreshed"></span>
            </div>
            <div id="status-history-loading-container" class="loading-container"></div>
            <div id="status-history-metric-combo"></div>
        </div>
        <div id="status-history-chart-container"></div>
        <div id="status-history-chart-control-container"></div>
    </div>
    <div class="clear"></div>
    <div class="dialog-buttons">
        <div id="status-history-close" class="button button-normal">Close</div>
        <div class="clear"></div>
    </div>
</div>
