body{display:block;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:62.5%;overflow:hidden;}
#splash{position:absolute;top:0;left:0;right:0;bottom:0;background:#7098AD;z-index:2000;}
#splash-img{display:block;padding-top:250px;margin:0 auto;}
#context-menu{display:none;background-color:#fff;border:1px solid #000;position:absolute;z-index:10006;}
div.context-menu-item{cursor:pointer;width:155px;height:20px;padding-top:4px;padding-left:4px;}
div.context-menu-item.hover{color:#027fd2;}
img.context-menu-item-img{float:left;width:16px;height:16px;}
div.context-menu-item-text{width:135px;margin-left:4px;line-height:16px;float:left;font-family:Arial,​ sans-serif;font-size:11px;}
.unselectable{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.clear{clear:both;}
.pointer{cursor:pointer!important;}
.delete td{text-decoration:line-through;}
.hidden{display:none;}
.blank,.unset,.sensitive{font-style:italic;font-weight:normal;color:#aaa;}
.required{font-weight:bold!important;}
div.nifi-tooltip{border:1px solid #454545;background-color:#FFFFA3;color:#454545;}
.ellipsis{white-space:nowrap;overflow:hidden;}
.ellipsis.multiline{white-space:normal;}
.table-cell{overflow:hidden;white-space:nowrap;line-height:normal;float:left;margin-top:4px;}
input[type=text],textarea{background:white url(../images/bgInputText.png) repeat-x scroll top;border:1px solid #ccc;font-family:Verdana;font-size:12px;padding:4px;resize:none;}
textarea{overflow:hidden;}
ul.property-info{list-style-type:disc;margin-left:10px;}
ul.property-info li{padding:0;margin-left:10px;}
div.nf-checkbox{cursor:default;width:12px;height:12px;float:left;margin-right:4px;}
div.checkbox-unchecked{background:transparent url(../images/inputCheckbox.png) no-repeat scroll top left;}
div.checkbox-checked{background:transparent url(../images/inputCheckbox.png) no-repeat scroll top right;}
div.ajax-loading{background-image:url(../images/iconLoading.gif);}
div.button-refresh{background:transparent url(../images/buttonRefresh.png) no-repeat scroll top left;}
div.button-refresh-hover{background:transparent url(../images/buttonRefresh.png) no-repeat scroll top right;}
.ui-draggable .dialog-header{cursor:move;}
div.disabled{float:left;width:16px;height:16px;background:transparent url(../images/iconDisable.png) repeat scroll 0 0;}
div.stopped{float:left;width:16px;height:16px;background:transparent url(../images/iconStop.png) repeat scroll 0 0;}
div.running{float:left;width:16px;height:16px;background:transparent url(../images/iconRun.png) repeat scroll 0 0;}
div.has-errors,div.invalid{float:left;width:18px;height:16px;margin-left:-2px;background:transparent url(../images/iconAlert.png) repeat scroll 0 0;}
div.transmitting{float:left;width:18px;height:16px;background:transparent url(../images/iconTransmissionActive.png) no-repeat center center;}
div.not-transmitting{float:left;width:18px;height:16px;background:transparent url(../images/iconTransmissionInactive.png) no-repeat center center;}
div.valid{float:left;width:16px;height:16px;background-color:transparent;}
div.has-bulletins{background:transparent url(../images/iconBulletin.png) repeat scroll 0 0;}
div.expansion-button{width:11px;height:11px;margin-left:5px;}
div.collapsed{background:transparent url(../images/buttonExpandCollapse.png) no-repeat scroll top left;}
div.expanded{background:transparent url(../images/buttonExpandCollapse.png) no-repeat scroll top right;}
span.label,div.label{font-weight:bold;}
div.inline-details{margin-top:10px;margin-bottom:3px;}
div.inline-details div{margin:2px 0;}
tr.alt-row{background:#f5f5f5 none;}
span.link{cursor:pointer;color:#1e373f;font-weight:normal;}
span.link-over{color:#264c58;text-decoration:underline;}
span.details-title{font-weight:bold;font-size:12px;text-decoration:underline;}
div.main-banner-header{z-index:100;font-weight:bold;font-size:1em;text-align:center;line-height:15px;color:#7e7e7e;margin:0 auto;width:900px;height:17px;background-color:#fff;z-index:100;}
div.banner-header-background{background-image:url(../images/bgHeader.png);}
div.main-banner-footer{display:none;position:absolute;left:0;right:0;bottom:0;height:15px;color:#fff;text-align:center;font-weight:bold;font-size:1em;line-height:15px;overflow:visible;background-color:#9eb9c7;background-image:url(../images/bgBannerFoot.png);background-repeat:repeat-x;background-position:left top;}
div.utility-banner-header{display:none;z-index:100;font-weight:bold;font-size:1em;text-align:center;line-height:15px;color:#7ea3b6;}
div.utility-banner-footer{display:none;position:absolute;left:0;right:0;bottom:0;height:15px;color:#7ea3b6;text-align:center;font-weight:bold;font-size:1em;line-height:15px;}
#new-port-dialog{z-index:1301;display:none;width:350px;height:150px;border:1px solid #eee;}
#new-port-name{width:320px;}
#new-process-group-dialog{z-index:1301;display:none;width:350px;height:150px;border:1px solid #eee;}
#new-process-group-name{width:320px;}
#new-remote-process-group-dialog{z-index:1301;display:none;width:350px;height:150px;border:1px solid #eee;}
#new-remote-process-group-uri{width:320px;}
#new-template-dialog{z-index:1301;display:none;width:350px;height:300px;border:1px solid #eee;}
.new-template-field{width:320px;}
#processor-property-dialog{z-index:1301;display:none;border:1px solid #eee;padding:10px;border:3px solid #365C6A;box-shadow:4px 4px 6px rgba(0,0,0,0.9);cursor:move;}
#alias-dialog{z-index:1301;display:none;width:350px;height:195px;border:1px solid #eee;}
#fill-color-dialog{z-index:1301;display:none;width:195px;height:345px;border:1px solid #eee;}
#fill-color-processor-preview{width:173px;height:56px;font-weight:bold;border-width:1px;border-style:solid;}
#fill-color-processor-preview-name{margin-left:5px;margin-top:5px;float:left;}
#fill-color-processor-preview-icon{margin-top:5px;margin-right:5px;float:right;background-image:url(../images/iconSmallProcessor.png);width:14px;height:14px;}
#fill-color-processor-preview-stats{margin-top:1px;margin-left:5px;float:left;border:1px solid #6f97ac;background-color:#fff;height:30px;width:161px;}
#fill-color-processor-preview-stats-label{float:left;background:linear-gradient(to bottom,#30505c,#6f97ac);filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#30505c,endColorstr=#6f97ac);height:30px;width:30px;}
#fill-color-label-preview{width:173px;height:56px;font-weight:bold;border-width:1px;border-style:solid;}
#fill-color-label-preview-value{margin-left:5px;margin-top:5px;float:left;}
#connections-dialog{z-index:1301;display:none;height:365px;width:646px;border:1px solid #eee;}
div.connections-component-name{float:left;width:390px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#connections-source{float:left;}
#connections-destination{float:left;margin-left:370px;}
#connections-container{width:612px;height:190px;border:1px solid #aaa;padding:5px;overflow-y:auto;}
div.source-destination-connection{margin-bottom:10px;}
div.connection-entry{float:left;width:190px;margin-left:10px;}
div.connection-entry-name{float:left;width:170px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
div.destination-component{float:left;width:190px;margin-left:10px;}
div.destination-component-name{float:left;width:170px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
div.destination-input-port{margin-left:20px;}
div.destination-input-port-name{float:left;width:150px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
div.source-component{float:left;width:190px;}
div.source-component-name{float:left;width:170px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
div.source-output-port{margin-left:20px;}
div.source-output-port-name{float:left;width:150px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
div.go-to-link{color:#264c58;text-decoration:underline;cursor:pointer;}
#system-diagnostics-dialog{z-index:1301;display:none;height:450px;width:420px;border:1px solid #eee;}
#instantiate-template-dialog{z-index:1301;display:none;width:355px;height:120px;border:1px solid #eee;}
#available-templates{width:325px;height:18px;line-height:18px;}
#remote-port-configuration{z-index:1301;display:none;width:350px;height:195px;border:1px solid #eee;}
#nf-ok-dialog{z-index:1302;display:none;height:225px;width:375px;border:1px solid #eee;}
#nf-ok-dialog-content{width:355px;height:130px;overflow:auto;margin-top:-10px;}
#nf-yes-no-dialog{z-index:1302;display:none;height:175px;width:350px;border:1px solid #eee;}
#nf-yes-no-dialog-content{width:330px;height:180px;overflow:auto;margin-top:-10px;}
ul.result{list-style-type:disc;margin-left:15px;}
ul.result li{padding:3px 0;}
.setting{margin-bottom:15px;}
.setting-name{font-size:10px;font-weight:bold;padding-bottom:4px;color:#527991;}
.setting-field{overflow:hidden;line-height:normal;}
img.icon-info{position:relative;left:3px;top:1px;}
#provenance{position:absolute;top:0;bottom:0;left:0;right:0;}
div.provenance-panel{bottom:20px;left:20px;overflow:hidden;position:absolute;right:20px;top:55px;}
#provenance-header-and-filter{height:35px;margin-top:20px;margin-left:20px;margin-right:20px;}
#provenance-header-text{float:left;font-size:16px;font-weight:bold;line-height:normal;}
#provenance-refresh-container{height:26px;margin-top:18px;-webkit-user-select:none;-moz-user-select:none;}
#provenance-last-refreshed-container{float:left;color:#666;font-weight:normal;margin-top:6px;margin-left:3px;}
#provenance-loading-container{float:left;width:16px;height:16px;background-color:transparent;margin-top:4px;margin-left:3px;}
#provenance-last-refreshed{font-weight:bold;}
#provenance-header{padding-top:10px;}
#refresh-button{height:24px;width:26px;float:left;}
#provenance-filter-controls{float:right;}
#provenance-filter-container{height:24px;width:326px;}
#provenance-filter{padding:3px 0 1px 3px;font-size:12px;height:18px;line-height:20px;width:173px;border:1px solid #ccc;margin-right:3px;float:left;}
input.provenance-filter-list{color:#888;}
#provenance-filter-type{width:135px;height:18px;line-height:18px;float:left;}
#provenance-filter-stats{font-size:9px;font-weight:bold;color:#9f6000;clear:left;line-height:normal;margin-left:5px;}
#oldest-event-message{display:none;color:#9F6000;font-weight:bold;line-height:normal;float:left;clear:left;margin-top:4px;}
#provenance-search-container{position:absolute;right:0;top:20px;}
#provenance-search-button{height:20px;line-height:20px;width:55px;text-align:center;font-weight:bold;border:1px solid #AAA;color:#525252;float:left;margin-right:0;padding:0;}
#provenance-search-overview{float:left;color:#9F6000;font-size:9px;font-weight:bold;line-height:normal;float:left;margin-top:6px;margin-right:8px;}
#clear-provenance-search{cursor:pointer;color:#31849B;text-decoration:underline;margin-left:5px;display:none;}
#provenance-search-dialog{display:none;width:454px;height:515px;z-index:1301;}
#searchable-fields-container{width:426px;height:220px;border:1px solid #aaa;padding:5px;padding-right:0;overflow:auto;}
div.searchable-field{margin-bottom:5px;}
div.searchable-field-name{width:150px;float:left;line-height:26px;}
div.searchable-field-value{float:left;}
input.searchable-field-input{width:245px;}
.start-date-setting,.start-time-setting,.end-date-setting,.end-time-setting{float:left;}
.start-date-setting,.end-date-setting{margin-right:15px;}
.provenance-small-input{width:183px;}
.provenance-time-input{width:215px;}
#provenance-search-location-container{display:none;}
#provenance-search-location{height:18px;line-height:18px;}
#event-details-dialog{display:none;width:800px;height:450px;z-index:1301;}
#event-details-dialog-content{margin-top:-10px;padding:5px 11px;}
#event-details-tabs{background-color:transparent;border-bottom:3px solid #666;height:21px;width:778px;}
#event-details-dialog div.details-tab{background:url("../images/bgTabContainer.png") repeat-x scroll 0 0 #EEE;display:none;height:330px;padding:10px;}
#event-details-tab-content div.settings-left{float:left;width:420px;}
#event-details-tab-content div.spacer{float:left;margin-right:40px;}
#event-details-tab-content div.settings-right{float:left;width:292px;}
div.flowfile-container{width:282px;height:120px;overflow:auto;border:1px solid #aaa;padding:5px;font-family:monospace;font-size:12px;}
#child-flowfiles{margin-top:10px;}
div.event-header{color:#264C58;font-size:11px;font-weight:bold;margin-bottom:5px;}
#attributes-container{height:290px;overflow:auto;border:1px solid #aaa;padding:5px;}
div.detail-name{float:left;width:145px;color:#527991;font-size:10px;font-weight:bold;overflow:hidden;white-space:nowrap;line-height:normal;}
div.detail-value{float:left;width:270px;overflow:hidden;white-space:nowrap;line-height:normal;}
div.attribute-detail{margin-bottom:5px;}
div.attribute-name{float:left;width:225px;color:#527991;font-size:10px;font-weight:bold;overflow:hidden;white-space:nowrap;line-height:normal;}
div.attribute-value{float:left;width:490px;margin-left:10px;overflow:hidden;white-space:nowrap;line-height:normal;}
#attributes-header{float:left;}
#modified-attribute-toggle-container{float:right;}
#modified-attribute-toggle-label{float:left;}
#modified-attribute-toggle{float:left;margin-left:5px;margin-right:0;}
div.modified-attribute-label{float:left;margin-left:10px;width:50px;font-style:italic;font-weight:normal;color:#666;}
div.modified-attribute-value{float:left;width:490px;margin-left:175px;overflow:hidden;white-space:nowrap;line-height:normal;}
div.event-detail{margin-bottom:4px;}
#input-content-download,#output-content-download,#replay-content{float:left;margin:0;}
#input-content-view,#output-content-view{float:left;margin-left:5px;}
div.content-detail-name{color:#527991;float:left;font-size:10px;font-weight:bold;line-height:normal;overflow:hidden;white-space:nowrap;width:90px;}
div.content-detail-value{width:265px;float:left;line-height:normal;overflow:hidden;white-space:nowrap;}
#content-tab-content div.settings-left{float:left;width:356px;}
#content-tab-content div.spacer{float:left;margin-right:40px;}
#content-tab-content div.settings-right{float:left;width:356px;}
#replay-details{margin-top:20px;}
#provenance-query-dialog,#lineage-query-dialog{display:none;width:400px;height:135px;z-index:1301;}
#provenance-percent-complete,#lineage-percent-complete{width:378px;}
div.progress-label{color:#000;display:block;font-weight:bold;text-align:center;margin-top:-19px;width:378px;}
#provenance-table{position:absolute;top:45px;left:0;bottom:0;right:0;border:1px solid #666;overflow:hidden;}
#provenance-lineage{border:1px solid #aaa;}
#provenance-lineage-loading-container{position:absolute;left:0;top:0;}
#provenance-lineage-loading{background-color:transparent;height:16px;width:16px;}
#provenance-lineage-close-container{position:absolute;right:1px;top:2px;}
#provenance-lineage-downloader{float:left;height:16px;width:16px;background:url("../images/iconExportLineage.png") no-repeat scroll left center transparent;cursor:pointer;margin-right:2px;}
#provenance-lineage-closer{float:left;height:16px;width:16px;background:url("../images/iconClose.png") no-repeat scroll left center transparent;cursor:pointer;}
#provenance-lineage-slider-container{position:absolute;left:0;bottom:0;width:350px;height:35px;}
#provenance-lineage-slider-container{margin-left:10px;}
#provenance-lineage-slider{border-radius:0;}
#provenance-lineage-slider .ui-slider-handle{border-radius:0;border:1px solid #999;outline:none;}
#event-timeline{margin-top:8px;color:#9F6000;font-weight:bold;line-height:normal;}
#event-time{float:left;}
#event-timezone{float:left;}
#provenance-lineage-context-menu{display:none;border:1px solid #000;width:140px;position:absolute;background-color:#fff;padding:3px 0;}
div.lineage-view-event{background:url("../images/iconDetails.png") no-repeat scroll center center transparent;}
div.lineage-view-parents{background:url("../images/iconExpandParents.png") no-repeat scroll center center transparent;}
div.lineage-collapse-parents{background:url("../images/iconCollapseParents.png") no-repeat scroll center center transparent;}
div.lineage-view-children{background:url("../images/iconExpandChildren.png") no-repeat scroll center center transparent;}
div.lineage-collapse-children{background:url("../images/iconCollapseChildren.png") no-repeat scroll center center transparent;}
div.provenance-lineage-menu-item{padding:3px 6px;cursor:pointer;}
div.provenance-lineage-menu-item.hover{color:#027fd2;}
div.provenance-lineage-menu-item-img{float:left;width:16px;height:16px;}
div.provenance-lineage-menu-item-text{width:106px;margin-left:6px;line-height:16px;float:left;font-family:Verdana;font-size:8pt;}
path.link.selected{stroke:#FC0;}
g.event circle.selected{fill:#FC0;}
text.event-type{cursor:pointer;}
text.event-type.expand-parents,text.event-type.expand-children{font-weight:bold;font-size:12px;}
g.flowfile circle.context,g.event circle.context{stroke:#b70303;stroke-width:1.5px;}
path.flowfile-icon-base{pointer-events:none;}
path.flowfile-icon-base-outline{pointer-events:none;}
path.flowfile-icon-mid{pointer-events:none;}
path.flowfile-icon-mid-outline{pointer-events:none;}
path.flowfile-icon-arc{pointer-events:none;}
path.flowfile-icon-top{pointer-events:none;}
